<h3>Historial</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre destinatario </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="rut">
      <th mat-header-cell *matHeaderCellDef> Rut </th>
      <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="banco_destino">
      <th mat-header-cell *matHeaderCellDef> Banco </th>
      <td mat-cell *matCellDef="let element"> {{element.banco_destino}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cuenta">
      <th mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
      <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
    </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>